src/main/app/usersmuleservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <sfdc:config name="Salesforce__Basic_authentication" username="${salesforce.username}" password="${salesforce.password}" securityToken="${salesforce.securityToken}" doc:name="Salesforce: Basic authentication" fetchAllApexRestMetadata="true" fetchAllApexSoapMetadata="true"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <data-mapper:config name="XML_To_List_User_" transformationGraphPath="xml_to_list_user_.grf" doc:name="XML_To_List_User_"/>
    <flow name="usersmuleserviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/users" allowedMethods="POST" doc:name="HTTP">
            <http:response-builder statusCode="201" reasonPhrase="Created"/>
        </http:listener>
        <data-mapper:transform config-ref="XML_To_List_User_" doc:name="XML To List&lt;User&gt;"/>
        <sfdc:create config-ref="Salesforce__Basic_authentication" type="User" doc:name="Salesforce">
            <sfdc:objects ref="#[payload}]"/>
        </sfdc:create>
        <response>
            <logger message="### Errors: #[payload]" level="INFO" doc:name="Logger"/>
        </response>
    </flow>
</mule>
